@font-face {
    font-family: 'MyCustomFont';
    src: url('https://github.com/h4bash/pin-input-project/raw/refs/heads/main/TiketOdysseyText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: 'MyCustomFont', sans-serif;
}
