@font-face {
  font-family: 'TiketOdysseyText-Regular';
  src: url(./TiketOdysseyText-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}


.custom-font {
    font-family: 'MyCustomFont', sans-serif;
}
