@font-face {
    font-family: 'MyCustomFont';
    src: url('https://raw.githubusercontent.com/your-username/your-repository-name/main/fonts/MyCustomFont.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/your-username/your-repository-name/main/fonts/MyCustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.custom-font {
    font-family: 'MyCustomFont', sans-serif;
}
